root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true

[*.sv]
indent_size = 2
max_line_length = 120

[*.v]
indent_size = 2
max_line_length = 120

[*.rs]
indent_size = 4

[*.ts]
indent_size = 2
